.notAvailable {
	opacity: 0.3;
}

.swp_CountDown {
	background-color: #CCC;
	display: inline-block;
	float: right;
	padding: 5px 15px;
	-webkit-border-radius: 3px 3px 0 0;
	        border-radius: 3px 3px 0 0;
	color: #FFF;
	font-weight: bold;
	margin-top: -27px;
}

.swp_CountDown.swp_blue {
	background-color: #30394F;
}

.swp_CountDown.swp_red {
	background-color: #EE464F;
}

#social_warfare textarea.large-text {
	width: 100%;
}

#social_warfare ul.swpmb-media-list.ui-sortable {
	display: block;
	width: 100%;
	-webkit-background-size: cover;
	        background-size: cover;
	background-position-x: center;
	background-repeat: no-repeat;
	background-color: #ccc;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	padding: 0;
}

#social_warfare .swp_og_imageWrapper ul.swpmb-media-list {
	background-image: url('../images/img-placeholder-og.jpg');
}

#social_warfare .swp_pinterest_imageWrapper ul.swpmb-media-list {
	background-image: url('../images/img-placeholder-pin.jpg');
}

.swpmb-field.swpmb-textarea-wrapper.swp_og_title,
.swpmb-field.swpmb-textarea-wrapper.swp_og_description,
.swpmb-field.swpmb-textarea-wrapper.swp_pinterest_descriptionWrapper,
.swpmb-field.swpmb-textarea-wrapper.swp_customTweetWrapper {
	width: 63%;
	float: left;
}

.swpmb-field.swpmb-text-wrapper.swp_share_recoveryWrapper {
    width: 63%;
    float: left;
}

.swpmb-field.swpmb-text-wrapper.swp_share_recoveryWrapper input {
    width: 100%;    
}


.swpmb-field.swpmb-select-wrapper.swp_pin_browser_extensionWrapper,
.swpmb-field.swpmb-select-wrapper.swp_pin_browser_extension_locationWrapper,
.swpmb-field.swpmb-select-wrapper.swp_post_locationWrapper,
.swpmb-field.swpmb-select-wrapper.swp_float_locationWrapper {
	width:32%;
	float:left;
	min-width:320px;
}
.swpmb-field.swpmb-select-wrapper.swp_pin_browser_extensionWrapper select,
.swpmb-field.swpmb-select-wrapper.swp_pin_browser_extension_locationWrapper select,
.swpmb-field.swpmb-select-wrapper.swp_post_locationWrapper select,
.swpmb-field.swpmb-select-wrapper.swp_float_locationWrapper select {
	width:90%;
}

.swpmb-field.swpmb-image_advanced-wrapper.swp_og_imageWrapper,
.swpmb-field.swpmb-image_advanced-wrapper.swp_pinterest_imageWrapper {
	width: 30%;
	float: left;
	margin-right: 3%;
}

#social_warfare .swpmb-label, #social_warfare .swpmb-input {
	width: 100%;
}

#social_warfare .swpmb-field {
	margin-top: 10px;
}

#social_warfare .swpmb-image-item,
#social_warfare .swpmb-media-preview,
#social_warfare .swpmb-media-content .centered,
#social_warfare .swpmb-media-content img {
	width: 100%;
	height: auto;
	max-height: none;
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}

.wp-core-ui #social_warfare a.swpmb-add-media.button {
	display: block;
	background: #30394f;
	color: #fff;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	padding: 15px 25px;
	margin: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: none;
	height: auto;
}

.wp-core-ui #social_warfare a.swpmb-add-media.button:hover {
	background: #EE464F;
}

#social_warfare .swpmb-media-content img {
	-webkit-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}

#social_warfare .swpmb-media-content {
	overflow: visible;
}

#social_warfare .swpmb-media-preview:before {
	padding-top: 0px;
}

#social_warfare .swpmb-media-content {
	position: inherit;
}

#social_warfare .swpmb-divider-wrapper hr {
	border: none!important
}

#social_warfare .swpmb-label label {
	font-weight: bold;
	color: #30394f;
	font-size: 18px;
}

#social_warfare .swpmb-divider-wrapper {
	max-height: 1px;
	clear: both;
}

#social_warfare .swpmb-label {
	margin-bottom: 10px;
}

#social_warfare h2.hndle span:before {
	content: 'p';
	margin-right: 10px;
	font-family: "sw-icon-font";
	vertical-align: middle;
}

#social_warfare .dashicons, #social_warfare .sw {
	vertical-align: middle;
	margin-right: 10px;
	font-size: 18px;
}

#social_warfare .sw-premium-blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#social_warfare .sw-premium-blocker:not(.no-icon):before {
	font-family: 'sw-icon-font';
	content: 'E';
	font-size: 24px;
	float: right;
	margin: 10px 40px 0 0;
}
/*
#social_warfare .swp_share_recoveryWrapper {
    margin-left: 33%;
    width: 90%;

} */

#social_warfare #swp_recovery_url {
    /* width: 100%; */
}

.ui-tooltip.sw-admin-hover-notice {
	background: #ee464f;
	color: #fff;
	padding: 15px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	margin: 15px 0;
	border: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	max-width: none;
	padding: 20px;
}

.sw-admin-hover-notice i:before {
	font-family: 'sw-icon-font';
	font-size: 26px;
	margin: 0 15px 0 0;
	vertical-align: middle;
	content: 'E';
	float: left;
	font-style: normal;
}

/* Adds the border between sections. */
[class$=title_wrapper] ~ [class$=title_wrapper] {
	border-top: 1px solid #CED3DC;
    padding-top: 40px;
}

.swp-notice-wrapper {
    max-width: 73%;
    margin-top: -15px;
    margin-bottom: 15px;
}

.swp-notice {
    padding: 10px 15px;
    padding: 20px;
}

.swp-actions {
    display: flex;
    align-items: center;
}

.swp-notice a {
    cursor: hover;
    text-decoration: underline;
    margin: 0 10px;
}

.swp-dismiss-notice.notice.notice-info {
    font-size: 15px;
    line-height: 25px;
}

.swp-dismiss-notice.notice.notice-info {
    border-left-color: #D34250;
    padding: 20px;
    margin: 15px 0 15px;
}

.swp-dismiss-notice.notice.notice-info p {
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    margin: 0 0 20px;
}

a.swp-notice-cta {
   cursor: pointer;
   text-decoration: underline;
   font-size: 15px;
   line-height: 30px;
   margin-right: 50px;
}
