.ui-tabs-nav {
	border-bottom: 1px solid #ccc;
	height: 27px;
	margin: 20px 0;
	padding: 0;
}

.ui-tabs-nav li {
	display: block;
	float: left;
	margin: 0;
}

.ui-tabs-nav li a {
	padding: 4px 20px 6px;
	font-weight: bold;
}

.ui-tabs-nav li a {
	border-style: solid;
	border-color: #CCC #CCC #F9F9F9;
	border-width: 1px 1px 0;
	color: #C1C1C1;
	text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
	display: inline-block;
	padding: 4px 14px 6px;
	text-decoration: none;
	margin: 0 6px -1px 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-nav li.ui-state-active a {
	border-width: 1px;
	color: #464646;
}

.ui-tabs-panel {
	clear: both;
}

.ui-tabs-panel h3 {
	font: italic normal normal 24px/29px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	margin: 0;
	padding: 0 0 5px;
	line-height: 35px;
	text-shadow: 0 1px 0 #fff;
}

.ui-tabs-panel h4 {
	font-size: 15px;
	font-weight: bold;
	margin: 1em 0;
}
.notAvailable {
 	opacity:0.3;  
}
.sw_CountDown {
	background-color: #CCC;
	display: inline-block;
	float: right;
	padding: 5px 15px;
	border-radius: 3px 3px 0 0;
	color: #FFF;
	font-weight: bold;
	margin-top:-27px;
}
.sw_CountDown.sw_blue {
	background-color:#30394F;
}
.sw_CountDown.sw_red {
	background-color:#EE464F;
}
#socialWarfare textarea.large-text {
	width:100%;
}

#socialWarfare ul.rwmb-media-list.ui-sortable {
  display: block;
  width: 100%;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: #ccc;
  border-radius:4px;
  padding:0;
}
#socialWarfare .nc_ogImageWrapper ul.rwmb-media-list {
	background-image: url('../images/img-placeholder-og.jpg');
}
#socialWarfare .nc_pinterestImageWrapper ul.rwmb-media-list {
	background-image: url('../images/img-placeholder-pin.jpg');
}

.rwmb-field.rwmb-textarea-wrapper.nc_ogTitleWrapper, .rwmb-field.rwmb-textarea-wrapper.nc_ogDescriptionWrapper, .rwmb-field.rwmb-textarea-wrapper.nc_pinterestDescriptionWrapper, .rwmb-field.rwmb-textarea-wrapper.nc_customTweetWrapper, .rwmb-field.rwmb-select-wrapper.nc_postLocationWrapper, .rwmb-field.rwmb-select-wrapper.nc_floatLocationWrapper {
  width: 63%;
  float: left;
}

.rwmb-field.rwmb-image_advanced-wrapper.nc_ogImageWrapper, .rwmb-field.rwmb-image_advanced-wrapper.nc_pinterestImageWrapper {
  width: 30%;
  float: left;
  margin-right: 3%;
}
#socialWarfare .rwmb-label, #socialWarfare .rwmb-input {width:100%;}
#socialWarfare .rwmb-field {margin-top:10px;}
#socialWarfare .rwmb-image-item, #socialWarfare .rwmb-media-preview, #socialWarfare .rwmb-media-content .centered, #socialWarfare .rwmb-media-content img {width:100%;height:auto;max-height:none;}
.wp-core-ui #socialWarfare a.rwmb-add-media.button {
   display: block;
   background: #30394f;
   color: #fff;
   font-size: 12px;
   line-height: 1;
   text-align: center;
   vertical-align: middle;
   padding: 15px 25px;
   margin: 0;
   box-shadow: none;
   border: none;
   height: auto;
}
.wp-core-ui #socialWarfare a.rwmb-add-media.button:hover {
   background: #EE464F;
}

#socialWarfare .rwmb-media-content img {
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}
#socialWarfare .rwmb-media-content {overflow:visible;}
#socialWarfare .rwmb-media-preview:before {padding-top:0px;}
#socialWarfare .rwmb-media-content {position:inherit;}
#socialWarfare .rwmb-divider-wrapper hr {border:none!important}
#socialWarfare .rwmb-label label {
    font-weight: bold;
    color: #30394f;
    font-size: 18px;
}
#socialWarfare .rwmb-divider-wrapper {max-height:1px;clear:both;}
#socialWarfare .rwmb-label { margin-bottom:10px; }
#socialWarfare h2.hndle span:before {content:'p';margin-right:10px;font-family:"sw-icon-font";vertical-align:middle;}
#socialWarfare .dashicons, #socialWarfare .sw {vertical-align:middle;margin-right:10px;font-size:18px;}