.nc_socialPanel {
	clear: both;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
	margin-top: 20px!important;
	margin-bottom: 20px!important;
	height: 30px;
	line-height: 1;
	padding: 0;
}

.nc_socialPanel:not(.nc_floater):not(.nc_socialPanelSide) {
	width: 100%!important;
}

.nc_wrapper .nc_socialPanel {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}

div.nc_socialPanel .nc_tweetContainer {
	float: left;
	cursor: pointer;
	height: 32px;
	font-family: Lato;
	border-radius: 2px;
	text-align: center;
	transition: all .1s linear;
	border-size: 1px;
	margin: 0 5px;
	flex: 1;
}

.nc_socialPanel .nc_tweetContainer a.nc_tweet,
.nc_socialPanel .totes .swp_count {
	display: block;
	font-size: 18px!important;
	font-family: Lato, sans-serif;
	font-weight: bold;
	text-decoration: none;
	height: 30px;
	text-transform: none;
}

.nc_socialPanel:not(.nc_socialPanelSide) .nc_tweetContainer:nth-child(1) {
	margin-left:0;
}

.nc_socialPanel:not(.nc_socialPanelSide) .nc_tweetContainer:nth-last-child(1) {
	margin-right:0px;
}

.nc_socialPanel a .swp_count {
	line-height: 32px;
	display: inline-block;
	padding: 0;
}

.nc_socialPanel span:before {
	content: initial!important;
}

.nc_socialPanel .totes .swp_count {
	line-height: 30px;
}

.nc_socialPanel span.swp_count {
	font-size: 14px;
}

.nc_socialPanel span.iconFiller {
	font-size: 18px;
}

.nc_socialPanel.notMobile .nc_tweetContainer:nth-child(1) {
	margin-left: 0;
}

.nc_socialPanel:not(.nc_socialPanelSide) {
	transition: opacity .2s ease-in-out;
}

.nc_socialPanel:not(.nc_socialPanelSide) div.totes.totesalt:nth-child(1) {
	margin-left: 0;
	padding-left: 0;
	margin-right: 15px;
}

.nc_socialPanel:not(.nc_socialPanelSide) div.totes.totesalt:nth-last-child(1) {
	margin-right: 0;
	padding-right: 0;
}

a.swp_CTT {
	cursor: pointer;
}

span.swp_share {
	font-weight: normal;
	font-size: 14px;
	display: block;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
	float: right;
	max-width: none!important;
	float: left;
}

.nc_socialPanel .sw {
	height: 30px;
	line-height: 32px;
	text-shadow: none!important;
	width: 20px;
	margin: 0 7px;
	float:left;
}

.iconFiller {
	display: block;
	float: left;
	transition: width 0.1s linear;
	overflow: hidden;
	height: 30px;
}

.nc_socialPanel .iconFiller {
	width: 30px;
}

span.spaceManWilly {
	width:120px;
	display:block;
}

.nc_socialPanel .totes {
	color: white;
	display: block;
	font-size: 19px;
	cursor: default;
	background: #c4c4c4;
	border: 1px solid #e08a0f;
	border-radius: 2px;
	padding: 0 10px;
	flex: none!important;
}

.nc_socialPanel div.totes.totesalt,
.nc_socialPanel:hover div.totes.totesalt:not(:nth-child(1)) {
	background: transparent!important;
	color: #474B4D;
	border: none;
	margin-left: 0!important;
}

div.nc_socialPanel:hover div.totes.totesalt:not(:nth-child(1)) {
	background: transparent;
	color: #474B4D;
	margin-left: 10px;
}

.nc_socialPanel .totes.totesalt .swp_label {
	font-size: 10px;
	color: #474B4D;
	vertical-align: middle;
}

.nc_socialPanel .totes .swp_label {
	font-size: 10px;
	vertical-align: middle;
}

.nc_socialPanel .totes.totesalt .swp_count {
	color: #474B4D;
	font-size: 24px;
}

.nc_socialPanel:hover .totes,
.nc_socialPanel.swp_fullColor .totes,
.nc_socialPanel.swp_fade .totes,
.nc_socialPanel.swp_customFull:hover div.totes {
	background: #e08a0f;
}

.nc_socialPanel:not(.nc_socialPanelSide) .nc_tweetContainer.totes.totesalt:before {
	content: "o";
	font-family: sw-icon-font;
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
}

.nc_socialPanel:not(.nc_socialPanelSide) .totes.totesalt .swp_count {
	line-height: 0;
	margin-top: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	min-width: 35px;
}

span.swp_label {
	display: block;
	position: absolute;
	margin-top: 13px;
	text-transform: uppercase;
	font-size: 9px!important;
	text-align: center!important;
}

.nc_socialPanelSide span.swp_label {
	margin-top: 0;
}

.nc_socialPanel.swp_leaf .nc_tweetContainer {
	border-radius: 15px 0;
	border-width: 1px;
}

.nc_socialPanel.swp_pill .nc_tweetContainer {
	border-radius: 50px;
	border-width: 1px;
}

.nc_socialPanel.swp_shift .nc_tweetContainer:not(.totes) {
	-webkit-transform: skew(-25deg);
	-moz-transform: skew(-25deg);
	-o-transform: skew(-25deg);
	border-width: 1px;
}

.nc_socialPanel.swp_shift .nc_tweetContainer a {
	-webkit-transform: skew(25deg);
	-moz-transform: skew(25deg);
	-o-transform: skew(25deg);
}

.swp_connected .nc_tweetContainer,
.swp_connected:hover .nc_tweetContainer,
.swp_connected .nc_tweetContainer:hover {
	border-radius: 0!important;
	border-width: 1px;
	margin: 0!important;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .googlePlus,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .googlePlus:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .googlePlus {
	border: 1px solid #df4b37;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .twitter,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .twitter:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .twitter {
	border: 1px solid #429cd6;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_fb,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_fb:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_fb {
	border: 1px solid #3a589e;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .nc_pinterest,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .nc_pinterest:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .nc_pinterest {
	border: 1px solid #cd2029;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .linkedIn,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .linkedIn:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .linkedIn {
	border: 1px solid #0d77b7;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_tumblr,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_tumblr:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_tumblr {
	border: 1px solid #39475d;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_stumbleupon,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_stumbleupon:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_stumbleupon {
	border: 1px solid #ef5025;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_yummly,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_yummly:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_yummly {
	border: 1px solid #e26426;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_reddit,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_reddit:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_reddit {
	border: 1px solid #f04b23;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_email,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_email:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_email {
	border: 1px solid #6bcce9;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_whatsapp,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_whatsapp:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_whatsapp {
	border: 1px solid #71c169;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_pocket,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_pocket:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_pocket {
	border: 1px solid #ef4056;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_buffer,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_buffer:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_buffer {
	border: 1px solid #323b43;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_hacker_news,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_hacker_news:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_hacker_news {
	border: 1px solid #d85623;
}

.nc_socialPanel.swp_flatFresh.swp_d_fullColor .swp_flipboard,
html body .nc_socialPanel.swp_flatFresh.swp_i_fullColor .swp_flipboard:hover,
body .nc_socialPanel.swp_flatFresh.swp_o_fullColor:hover .swp_flipboard {
	border: 1px solid #bf2626;
}

.nc_socialPanel.swp_d_fullColor .googlePlus,
html body .nc_socialPanel.swp_i_fullColor .googlePlus:hover,
body .nc_socialPanel.swp_o_fullColor:hover .googlePlus {
	background: #df4b37;
	border: 1px solid #c44133;
}

.nc_socialPanel.swp_d_fullColor .twitter,
html body .nc_socialPanel.swp_i_fullColor .twitter:hover,
body .nc_socialPanel.swp_o_fullColor:hover .twitter {
	background: #429cd6;
	border: 1px solid #3c87b2;
}

.nc_socialPanel.swp_d_fullColor .swp_fb,
html body .nc_socialPanel.swp_i_fullColor .swp_fb:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_fb {
	background: #3a589e;
	border: 1px solid #2e4675;
}

.nc_socialPanel.swp_d_fullColor .nc_pinterest,
html body .nc_socialPanel.swp_i_fullColor .nc_pinterest:hover,
body .nc_socialPanel.swp_o_fullColor:hover .nc_pinterest {
	background: #cd2029;
	border: 1px solid #aa1b29;
}

.nc_socialPanel.swp_d_fullColor .linkedIn,
html body .nc_socialPanel.swp_i_fullColor .linkedIn:hover,
body .nc_socialPanel.swp_o_fullColor:hover .linkedIn {
	background: #0d77b7;
	border: 1px solid #0c6591;
}

.nc_socialPanel.swp_d_fullColor .swp_tumblr,
html body .nc_socialPanel.swp_i_fullColor .swp_tumblr:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_tumblr {
	background: #39475d;
	border: 1px solid #27313f;
}

.nc_socialPanel.swp_d_fullColor .swp_stumbleupon,
html body .nc_socialPanel.swp_i_fullColor .swp_stumbleupon:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_stumbleupon {
	background: #ef5025;
	border: 1px solid #d34427;
}

.nc_socialPanel.swp_d_fullColor .swp_yummly,
html body .nc_socialPanel.swp_i_fullColor .swp_yummly:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_yummly {
	background: #e26426;
	border: 1px solid #b65027;
}

.nc_socialPanel.swp_d_fullColor .swp_reddit,
html body .nc_socialPanel.swp_i_fullColor .swp_reddit:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_reddit {
	background: #f04b23;
	border: 1px solid #d33f27;
}

.nc_socialPanel.swp_d_fullColor .swp_email,
html body .nc_socialPanel.swp_i_fullColor .swp_email:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_email {
	background: #6bcce9;
	border: 1px solid #61bace;
}

.nc_socialPanel.swp_d_fullColor .swp_whatsapp,
html body .nc_socialPanel.swp_i_fullColor .swp_whatsapp:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_whatsapp {
	background: #71c169;
	border: 1px solid #28b04b;
}

.nc_socialPanel.swp_d_fullColor .swp_pocket,
html body .nc_socialPanel.swp_i_fullColor .swp_pocket:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_pocket {
	background: #ef4056;
	border: 1px solid #ce3d55;
}

.nc_socialPanel.swp_d_fullColor .swp_buffer,
html body .nc_socialPanel.swp_i_fullColor .swp_buffer:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_buffer {
	background: #323b43;
	border: 1px solid #59626a;
}

.nc_socialPanel.swp_d_fullColor .swp_hacker_news,
html body .nc_socialPanel.swp_i_fullColor .swp_hacker_news:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_hacker_news {
	background: #f16522;
	border: 1px solid #d85623;
}

.nc_socialPanel.swp_d_fullColor .swp_flipboard,
html body .nc_socialPanel.swp_i_fullColor .swp_flipboard:hover,
body .nc_socialPanel.swp_o_fullColor:hover .swp_flipboard {
	background: #e02828;
	border: 1px solid #bf2626;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .googlePlus,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .googlePlus:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .googlePlus {
	border-bottom: 3px solid #c44133;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .twitter,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .twitter:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .twitter {
	border-bottom: 3px solid #5595bc;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_fb,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_fb:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_fb {
	border-bottom: 3px solid #2e4675;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .nc_pinterest,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .nc_pinterest:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .nc_pinterest {
	border-bottom: 3px solid #aa1b29;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .linkedIn,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .linkedIn:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .linkedIn {
	border-bottom: 3px solid #0c6591;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_tumblr,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_tumblr:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_tumblr {
	border-bottom: 3px solid #27313f;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_stumbleupon,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_stumbleupon:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_stumbleupon {
	border-bottom: 3px solid #d34427;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_yummly,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_yummly:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_yummly {
	border-bottom: 3px solid #b65027;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_reddit,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_reddit:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_reddit {
	border-bottom: 3px solid #d33f27;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_email,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_email:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_email {
	border-bottom: 3px solid #61bace;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_whatsapp,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_whatsapp:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_whatsapp {
	border-bottom: 3px solid #28b04b;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_pocket,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_pocket:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_pocket {
	border-bottom: 3px solid #ce3d55;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_buffer,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_buffer:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_buffer {
	border-bottom: 3px solid #59626a;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_hacker_news,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_hacker_news:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_hacker_news {
	border-bottom: 3px solid #d85623;
}

.nc_socialPanel.swp_threeDee.swp_d_fullColor .swp_flipboard,
html body .nc_socialPanel.swp_threeDee.swp_i_fullColor .swp_flipboard:hover,
body .nc_socialPanel.swp_threeDee.swp_o_fullColor:hover .swp_flipboard {
	border-bottom: 3px solid #bf2626;
}

.nc_socialPanel.swp_d_lightGray .nc_tweetContainer,
html body .nc_socialPanel.swp_i_lightGray .nc_tweetContainer:hover,
body .nc_socialPanel.swp_o_lightGray:hover .nc_tweetContainer {
	background-color: #ccc;
	border: 1px solid #ccc;
}

.nc_socialPanel.swp_threeDee.swp_d_lightGray .nc_tweetContainer:not(.totesalt),
html body .nc_socialPanel.swp_threeDee.swp_i_lightGray .nc_tweetContainer:not(.totesalt):hover,
body .nc_socialPanel.swp_threeDee.swp_o_lightGray:hover .nc_tweetContainer:not(.totesalt) {
	border-bottom: 3px solid #999;
}

.nc_socialPanel.swp_d_mediumGray .nc_tweetContainer,
html body .nc_socialPanel.swp_i_mediumGray .nc_tweetContainer:hover,
body .nc_socialPanel.swp_o_mediumGray:hover .nc_tweetContainer {
	background-color: #999;
	border: 1px solid #999;
}

.nc_socialPanel.swp_threeDee.swp_d_mediumGray .nc_tweetContainer:not(.totesalt),
html body .nc_socialPanel.swp_threeDee.swp_i_mediumGray .nc_tweetContainer:not(.totesalt):hover,
body .nc_socialPanel.swp_threeDee.swp_o_mediumGray:hover .nc_tweetContainer:not(.totesalt) {
	border-bottom: 3px solid #444;
}

.nc_socialPanel.swp_d_darkGray .nc_tweetContainer,
html body .nc_socialPanel.swp_i_darkGray .nc_tweetContainer:hover,
body .nc_socialPanel.swp_o_darkGray:hover .nc_tweetContainer {
	background-color: #444;
	border: 1px solid #444;
}

.nc_socialPanel.swp_threeDee.swp_d_darkGray .nc_tweetContainer:not(.totesalt),
html body .nc_socialPanel.swp_threeDee.swp_i_darkGray .nc_tweetContainer:not(.totesalt):hover,
body .nc_socialPanel.swp_threeDee.swp_o_darkGray:hover .nc_tweetContainer:not(.totesalt) {
	border-bottom: 3px solid #222;
}

.nc_socialPanel.swp_d_lgOutlines a,
html body .nc_socialPanel.swp_i_lgOutlines a:hover,
body .nc_socialPanel.swp_o_lgOutlines:hover a {
	color: #ccc;
}

.nc_socialPanel.swp_d_lgOutlines .nc_tweetContainer,
html body .nc_socialPanel.swp_i_lgOutlines .nc_tweetContainer:hover,
body .nc_socialPanel.swp_o_lgOutlines:hover .nc_tweetContainer {
	background: transparent;
	border: 1px solid #ccc;
}

.nc_socialPanel.swp_d_mdOutlines a,
html body .nc_socialPanel.swp_i_mdOutlines a:hover,
body .nc_socialPanel.swp_o_mdOutlines:hover a {
	color: #999;
}

.nc_socialPanel.swp_d_mdOutlines .nc_tweetContainer,
html body .nc_socialPanel.swp_i_mdOutlines .nc_tweetContainer:hover,
body .nc_socialPanel.swp_o_mdOutlines:hover .nc_tweetContainer {
	background: transparent;
	border: 1px solid #999;
}

.nc_socialPanel.swp_d_dgOutlines a,
html body .nc_socialPanel.swp_i_dgOutlines a:hover,
body .nc_socialPanel.swp_o_dgOutlines:hover a {
	color: #444;
}

.nc_socialPanel.swp_d_dgOutlines .nc_tweetContainer,
html body .nc_socialPanel.swp_i_dgOutlines .nc_tweetContainer:hover,
body .nc_socialPanel.swp_o_dgOutlines:hover .nc_tweetContainer {
	background: transparent;
	border: 1px solid #444;
}

.nc_socialPanel.swp_d_colorOutlines .googlePlus a,
html body .nc_socialPanel.swp_i_colorOutlines .googlePlus a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .googlePlus a {
	color: #df4b37;
}

.nc_socialPanel.swp_d_colorOutlines .swp_fb a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_fb a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_fb a {
	color: #3a589e;
}

.nc_socialPanel.swp_d_colorOutlines .nc_pinterest a,
html body .nc_socialPanel.swp_i_colorOutlines .nc_pinterest a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .nc_pinterest a {
	color: #cd2029;
}

.nc_socialPanel.swp_d_colorOutlines .linkedIn a,
html body .nc_socialPanel.swp_i_colorOutlines .linkedIn a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .linkedIn a {
	color: #0d77b7;
}

.nc_socialPanel.swp_d_colorOutlines .swp_tumblr a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_tumblr a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_tumblr a {
	color: #39475d;
}

.nc_socialPanel.swp_d_colorOutlines .swp_stumbleupon a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_stumbleupon a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_stumbleupon a {
	color: #ef5025;
}

.nc_socialPanel.swp_d_colorOutlines .swp_yummly a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_yummly a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_yummly a {
	color: #e26426;
}

.nc_socialPanel.swp_d_colorOutlines .swp_whatsapp a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_whatsapp a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_whatsapp a {
	color: #71c169;
}

.nc_socialPanel.swp_d_colorOutlines .swp_pocket a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_pocket a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_pocket a {
	color: #ef4056;
}

.nc_socialPanel.swp_d_colorOutlines .swp_reddit a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_reddit a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_reddit a {
	color: #f04b23;
}

.nc_socialPanel.swp_d_colorOutlines .swp_email a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_email a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_email a {
	color: #6bcce9;
}

.nc_socialPanel.swp_d_colorOutlines .swp_buffer a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_buffer a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_buffer a {
	color: #323b43;
}

.nc_socialPanel.swp_d_colorOutlines .swp_hacker_news a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_hacker_news a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_hacker_news a {
	color: #f16522;
}

.nc_socialPanel.swp_d_colorOutlines .swp_flipboard a,
html body .nc_socialPanel.swp_i_colorOutlines .swp_flipboard a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_flipboard a {
	color: #e02828;
}

.nc_socialPanel.swp_d_colorOutlines .googlePlus,
html body .nc_socialPanel.swp_i_colorOutlines .googlePlus:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .googlePlus {
	background: transparent;
	border: 1px solid #df4b37;
}

.nc_socialPanel.swp_d_colorOutlines .twitter,
html body .nc_socialPanel.swp_i_colorOutlines .twitter:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .twitter {
	background: transparent;
	border: 1px solid #429cd6;
}

.nc_socialPanel.swp_d_colorOutlines .swp_fb,
html body .nc_socialPanel.swp_i_colorOutlines .swp_fb:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_fb {
	background: transparent;
	border: 1px solid #3a589e;
}

.nc_socialPanel.swp_d_colorOutlines .nc_pinterest,
html body .nc_socialPanel.swp_i_colorOutlines .nc_pinterest:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .nc_pinterest {
	background: transparent;
	border: 1px solid #cd2029;
}

.nc_socialPanel.swp_d_colorOutlines .linkedIn,
html body .nc_socialPanel.swp_i_colorOutlines .linkedIn:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .linkedIn {
	background: transparent;
	border: 1px solid #0d77b7;
}

.nc_socialPanel.swp_d_colorOutlines .swp_tumblr,
html body .nc_socialPanel.swp_i_colorOutlines .swp_tumblr:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_tumblr {
	background: transparent;
	border: 1px solid #39475d;
}

.nc_socialPanel.swp_d_colorOutlines .swp_stumbleupon,
html body .nc_socialPanel.swp_i_colorOutlines .swp_stumbleupon:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_stumbleupon {
	background: transparent;
	border: 1px solid #ef5025;
}

.nc_socialPanel.swp_d_colorOutlines .swp_yummly,
html body .nc_socialPanel.swp_i_colorOutlines .swp_yummly:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_yummly {
	background: transparent;
	border: 1px solid #e26426;
}

.nc_socialPanel.swp_d_colorOutlines .swp_whatsapp,
html body .nc_socialPanel.swp_i_colorOutlines .swp_whatsapp:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_whatsapp {
	background: transparent;
	border: 1px solid #71c169;
}

.nc_socialPanel.swp_d_colorOutlines .swp_reddit,
html body .nc_socialPanel.swp_i_colorOutlines .swp_reddit:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_reddit {
	background: transparent;
	border: 1px solid #f04b23;
}

.nc_socialPanel.swp_d_colorOutlines .swp_email,
html body .nc_socialPanel.swp_i_colorOutlines .swp_email:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_email {
	background: transparent;
	border: 1px solid #6bcce9;
}

.nc_socialPanel.swp_d_colorOutlines .swp_pocket,
html body .nc_socialPanel.swp_i_colorOutlines .swp_pocket:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_pocket {
	background: transparent;
	border: 1px solid #ef4056;
}

.nc_socialPanel.swp_d_colorOutlines .swp_buffer,
html body .nc_socialPanel.swp_i_colorOutlines .swp_buffer:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_buffer {
	background: transparent;
	border: 1px solid #323b43;
}

.nc_socialPanel.swp_d_colorOutlines .swp_hacker_news,
html body .nc_socialPanel.swp_i_colorOutlines .swp_hacker_news:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_hacker_news {
	background: transparent;
	border: 1px solid #f16522;
}

.nc_socialPanel.swp_d_colorOutlines .swp_flipboard,
html body .nc_socialPanel.swp_i_colorOutlines .swp_flipboard:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .swp_flipboard {
	background: transparent;
	border: 1px solid #bf2626;
}

.nc_socialPanelSide {
	flex-direction: column;
	z-index: 9999999;
	top: 200px;
	transition: all .2s linear;
	height: auto;
	width: 100px!important;
	overflow: visible;
}

.nc_socialPanelSide.slide {
	position: fixed;
	left: -100px;
	transition: all .2s linear;
}

.nc_socialPanelSide.fade {
	position: fixed;
	left: 5px;
	display: none;
	transition: all .2s linear;
}

.nc_socialPanelSide .nc_tweetContainer {
	height: 32px;
	background: #DD4B38;
	display: block;
	font-family: Lato, sans-serif;
	clear: both;
	vertical-align: top;
	width: 90px;
	transition: all .1s linear;
	overflow: hidden;
	border-radius: 3px;
	margin: 3px 0!important;
	padding: 0;
}

.nc_socialPanelSide .nc_tweetContainer .iconFiller {
	display: inline-block;
	width: 21px;
	height: 40px;
	vertical-align: middle;
	transition: all .1s linear;
	margin: 0 6px;
	padding: 0;
}

.nc_socialPanelSide .nc_tweetContainer .swp_count {
	display: inline-block;
	width: 0;
	overflow: hidden;
	line-height: 35px;
	text-align: right;
	font-size: 14px;
	height: 32px;
	vertical-align: top;
	transition: all .1s linear;
	margin: 0;
	padding: 0;
}

.nc_socialPanelSide .nc_tweetContainer a {
	display: block;
	text-decoration: none;
	vertical-align: top;
	height: 36px;
	cursor: pointer;
	transition: all .1s linear;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.nc_socialPanelSide .nc_tweetContainer .sw,
.nc_socialPanelSide .nc_tweetContainer .swp_share {
	line-height: 34px;
	float: left;
}

.nc_socialPanelSide .nc_tweetContainer .swp_share {
	font-size: 13px;
}

.nc_socialPanelSide .nc_tweetContainer:hover,
.nc_socialPanelSide .nc_tweetContainer:hover .iconFiller,
.nc_socialPanelSide .nc_tweetContainer:hover .swp_count {
	transition: all .1s linear;
}

.nc_socialPanelSide.swp_boxed {
	transform: scale(0.9);
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer {
	margin-bottom: 5px;
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer,
.nc_socialPanelSide.swp_boxed .nc_tweetContainer a {
	height: 75px;
	width: 75px;
	position: relative;
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer i.sw {
	width: 60px;
	text-align: center;
	padding-top: 10px;
	font-size: 27px;
	height: 40px;
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes) span.swp_share {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 75px;
	text-align: center;
	height: 35px;
	opacity: 0;
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes) span.swp_count {
	transition: padding .1s linear;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 75px;
	text-align: center;
	height: 35px;
	padding: 0;
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes) span.swp_count.swp_hide,
.nc_socialPanelSide.swp_boxed .nc_tweetContainer span.swp_hide .iconFiller,
.nc_socialPanelSide.swp_boxed .nc_tweetContainer span.swp_hide .spaceManWilly {
	height: 75px;
	opacity: 1;
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer span.iconFiller {
	width: 75px;
	height: 40px;
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes):hover span.swp_count:not(.swp_hide) {
	opacity: 0;
}

.nc_socialPanelSide.swp_boxed .totes {
	width: 75px!important;
	padding: 0;
}

.nc_socialPanelSide .nc_tweetContainer:not(.totes) {
	line-height: 34px;
}

.nc_socialPanelSide .nc_tweetContainer:not(.totes) .iconFiller {
	width: 30px;
	margin-left: 2px;
}

.nc_socialPanelSide .nc_tweetContainer:not(.totes) .swp_count {
	width: 48px;
	padding: 0 8px;
}

.nc_socialPanelSide:not(.swp_boxed) .nc_tweetContainer:not(.totes):hover {
	width: 130px;
}

.nc_socialPanelSide .nc_tweetContainer:not(.totes):hover .iconFiller,
.nc_socialPanelSide .nc_tweetContainer:not(.totes) .spaceManWilly {
	width: 72px;
}

.nc_socialPanelSide .nc_tweetContainer.totes {
	background: rgba(0, 0, 0, 0);
	height: 45px;
	font-weight: 500;
	text-align: center;
	width: 90px;
	border: 0!important;
	margin: 0;
	padding: 0;
}

.nc_socialPanelSide .nc_tweetContainer.totes .swp_count {
	font-family: Lato, sans-serif;
	color: #444;
	font-weight: 500;
	display: block;
	width: 100%;
	text-align: center;
	height: 28px;
}

.nc_socialPanelSide .nc_tweetContainer.totes .swp_label {
	font-family: Lato, sans-serif;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 50%;
	color: #444;
	font-weight: 500;
}

.nc_wrapper {
	position: fixed;
	background: white;
	width: 100%;
	transition: top .5s bottom .5s;
	z-index: 99999;
}

.nc_wrapper.floatBottom {
	bottom: 0;
	left: 0;
}

.nc_wrapper.floatTop {
	top: 0;
	left: 0;
}

.nc_floater {
	width: 740px;
	left: 304px;
	position: relative;
	margin: 10px 0;
}

.nc_socialPanelSide.hideCounts a {
	text-align: center;
}

.nc_socialPanelSide.hideCounts .iconFiller {
	float: none;
	text-align: left;
}

.sw {
	display: inline-block;
	font-family: sw-icon-font!important;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-style: normal;
	font-weight: normal;
}

.sw:before {
	display: block!important;
}

.wp-editor-container .sw:before {
	font-size: 18px;
	line-height: 22px;
}

.wp-editor-container .sw-social-warfare:before {
	color: #ee464f;
}

.mce-container .sw-social-warfare {
	font-size: 20px;
	vertical-align: middle;
	margin-right: 15px;
	color: #ee464f;
}

.sw-google-plus:before {
	content: "h";
}

.sw-pinterest:before {
	content: "b";
}

.sw-twitter:before {
	content: "s";
}

.sw-facebook:before {
	content: "j";
}

.sw-linkedin:before {
	content: "f";
}

.sw-tumblr:before {
	content: "r";
}

.sw-stumbleupon:before {
	content: "q";
}

.sw-reddit:before {
	content: "a";
}

.sw-email:before {
	content: "k";
}

.sw-yummly:before {
	content: "x";
}

.sw-whatsapp:before {
	content: "y";
}

.sw-pocket:before {
	content: "B";
}

.sw-buffer:before {
	content: "z";
}

.sw-hacker_news:before {
	content: "D";
}

.sw-flipboard:before {
	content: "C";
}

.sw-social-warfare:before {
	content: "p";
}

.swp_CTT {
	text-decoration: none!important;
}

.sw-tweet-clear {
	zoom: 1;
}

.sw-tweet-clear:after {
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
	content: ".";
}

.sw-click-to-tweet {
	display: block;
	position: relative;
	margin: 15px 0;
	padding: 15px 30px;
}

.sw-click-to-tweet:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.sw-click-to-tweet .sw-ctt-text {
	position: relative;
	word-wrap: break-word;
	margin: 0 0 10px;
	padding: 0;
}

a .sw-click-to-tweet .sw-ctt-text {
	position: relative;
	font-size: 24px;
	line-height: 140%;
	font-weight: 500;
	text-decoration: none;
	text-transform: none;
	display: block;
	margin: 0;
	padding: 0;
}

.sw-click-to-tweet .sw-ctt-btn {
	position: relative;
	display: block;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 100%;
	float: right;
	text-decoration: none;
	margin: 10px 0 0;
	padding: 3px 5px 3px 3px;
}

.sw-click-to-tweet i.sw-twitter {
	float: right;
	font-size: 21px;
	margin-left: 15px;
	text-transform: none;
	margin-top: 2px;
}

a.swp_CTT.style1 .sw-click-to-tweet {
	background-color: #fff;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

a.swp_CTT.style2 .sw-click-to-tweet {
	background-color: #fff;
	border: 4px double #dddddd;
	border-radius: 0;
}

a.style2 .sw-click-to-tweet .sw-ctt-text {
	text-decoration: none;
	color: #666666;
	font-style: italic;
}

a.swp_CTT.style3:hover .sw-click-to-tweet {
	border-left: 10px solid #3c87b2;
	padding-right: 20px;
	transition: all .25s linear;
}

a.swp_CTT.style3 .sw-click-to-tweet {
	border: none;
	border-left: 10px solid #429cd6;
	background-color: #429cd6;
	border-radius: 0;
	padding-right: 20px;
	transition: all .25s linear;
}

a.style3 .sw-click-to-tweet .sw-ctt-text {
	text-decoration: none;
	color: #FFFFFF;
	font-style: italic;
}

a.swp_CTT.style4:hover .sw-click-to-tweet {
	border-left: 10px solid #3c87b2;
	transition: all .25s linear;
}

a.swp_CTT.style4 .sw-click-to-tweet {
	background-color: #333;
	border-left: 10px solid #C33;
	border-radius: 0;
	transition: all .25s linear;
}

a.swp_CTT.style5:hover .sw-click-to-tweet {
	border-left: 10px solid #30394F;
	transition: all .25s linear;
	background-color: #D34250;
}

a.swp_CTT.style5 .sw-click-to-tweet {
	background-color: #30394F;
	border-left: 10px solid #D34250;
	border-radius: 0;
	transition: all .25s linear;
}

a.swp_CTT.style6:hover .sw-click-to-tweet {
	border-left: 10px solid #D34250;
	transition: all .25s linear;
	background-color: #CED3DC;
}

a.swp_CTT.style6 .sw-click-to-tweet {
	background-color: #EEEEEE;
	border-left: 10px solid #D34250;
	border-radius: 0;
	transition: all .25s linear;
}

a.style6 .sw-click-to-tweet i.sw-twitter {
	color: #30394F;
}

.swp_pop_thumb {
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 3px;
	margin: 5px 25px 5px 0;
}

.swp_popular_post {
	clear: both;
}

.swp_clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.swp_popular_post a.swp_popularity {
	display: block;
	border: none;
	line-height: 1.5;
	margin: 20px 0;
}

span.swp_pop_count {
	font-size: 70%;
	display: block;
}

.swp_widget_box {
	border-radius: 3px;
}

div.sw-pinit {
	display: table !important;
	line-height: 0;
	position: relative !important;
}

div.sw-pinit a.sw-pinit-button,
div.sw-pinit a.sw-pinit-button:visited {
	background: #cd2029;
	color: #fff;
	border: 1px solid #aa1b29;
	font-size: 20px;
	border-radius: 4px;
	position: absolute;
	padding: 0 30px;
	opacity: 0;
	z-index: 200;
	line-height: 45px;
	height: 50px;
	transition: opacity 0.5s;
	text-decoration: none;
}

div.sw-pinit:hover a.sw-pinit-button,
div.sw-pinit:focus a.sw-pinit-button {
	opacity: 1;
}

div.sw-pinit a.sw-pinit-button::before {
	color: #fff;
	font-family: sw-icon-font;
	content: 'b';
	margin-right: 10px;
	margin-left: -5px;
	font-size: 24px;
	font-weight: normal;
	float: left;
	line-height: 50px
}

div.sw-pinit a.sw-pinit-button:hover::before {
	content: 'F';
}

div.sw-pinit a.sw-pinit-button::hover,
div.sw-pinit a.sw-pinit-button::focus {
	background: #aa1b29;
	color: #fff;
	text-decoration: none;
}

div.sw-pinit .sw-pinit-left {
	left: 30px;
}

div.sw-pinit .sw-pinit-center {
	left: 50%;
	margin-left: -60px;
}

div.sw-pinit .sw-pinit-right {
	right: 30px;
}

div.sw-pinit .sw-pinit-top {
	top: 30px;
}

div.sw-pinit .sw-pinit-middle {
	top: 50%;
	margin-top: -25px;
}

div.sw-pinit .sw-pinit-bottom {
	bottom: 30px;
}

.nc_socialPanel.notMobile .nc_tweetContainer:nth-last-child(1),
.mobile .nc_tweetContainer:nth-last-child(2),
.nc_tweetContainer.totes:nth-last-child(1) {
	margin-right: 0;
}

.nc_socialPanel.swp_d_fullColor a,
html body .nc_socialPanel.swp_i_fullColor .nc_tweetContainer:hover a,
body .nc_socialPanel.swp_o_fullColor:hover a,
.nc_socialPanel.swp_d_lightGray a,
html body .nc_socialPanel.swp_i_lightGray .nc_tweetContainer:hover a,
body .nc_socialPanel.swp_o_lightGray:hover a,
.nc_socialPanel.swp_d_mediumGray a,
html body .nc_socialPanel.swp_i_mediumGray a:hover,
body .nc_socialPanel.swp_o_mediumGray:hover a,
.nc_socialPanel.swp_d_darkGray a,
html body .nc_socialPanel.swp_i_darkGray a:hover,
body .nc_socialPanel.swp_o_darkGray:hover a {
	color: white;
}

.nc_socialPanel.swp_d_colorOutlines .twitter a,
html body .nc_socialPanel.swp_i_colorOutlines .twitter a:hover,
body .nc_socialPanel.swp_o_colorOutlines:hover .twitter a,
.wp-editor-container .sw-twitter:before,
a.style1 .sw-click-to-tweet i.sw-twitter,
a.style2 .sw-click-to-tweet i.sw-twitter {
	color: #429cd6;
}

.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes) .swp_hide span.swp_share,
.nc_socialPanelSide.swp_boxed .nc_tweetContainer:not(.totes):hover span.swp_share:not(.swp_hide) {
	opacity: 1;
}

.nc_socialPanel.mobile .iconFiller~.swp_count,
.sw-content-locator {
	display: none;
}

a.style1 .sw-click-to-tweet .sw-ctt-text,
a.style1 .sw-click-to-tweet .sw-ctt-btn {
	text-decoration: none;
	color: #999999;
}

a.style1:hover .sw-click-to-tweet .sw-ctt-text,
a.style1:hover .sw-click-to-tweet .sw-ctt-btn,
a.style2:hover .sw-click-to-tweet .sw-ctt-text,
a.style2 .sw-click-to-tweet .sw-ctt-btn,
a.style2:hover .sw-click-to-tweet .sw-ctt-btn {
	text-decoration: none;
	color: #666666;
}

a.style3:hover .sw-click-to-tweet .sw-ctt-text,
a.style3 .sw-click-to-tweet .sw-ctt-btn,
a.style3:hover .sw-click-to-tweet .sw-ctt-btn,
a.style3 .sw-click-to-tweet i.sw-twitter,
a.style4 .sw-click-to-tweet .sw-ctt-text,
a.style4:hover .sw-click-to-tweet .sw-ctt-text,
a.style4 .sw-click-to-tweet .sw-ctt-btn,
a.style4:hover .sw-click-to-tweet .sw-ctt-btn,
a.style5 .sw-click-to-tweet .sw-ctt-text,
a.style5:hover .sw-click-to-tweet .sw-ctt-text,
a.style5 .sw-click-to-tweet .sw-ctt-btn,
a.style5:hover .sw-click-to-tweet .sw-ctt-btn {
	text-decoration: none;
	color: #FFFFFF;
}

a.style4 .sw-click-to-tweet i.sw-twitter,
a.style5 .sw-click-to-tweet i.sw-twitter {
	color: #FFFFFF;
}

a.style6 .sw-click-to-tweet .sw-ctt-text,
a.style6 .sw-click-to-tweet .sw-ctt-btn {
	text-decoration: none;
	color: #30394F;
}

a.style6:hover .sw-click-to-tweet .sw-ctt-text,
a.style6:hover .sw-click-to-tweet .sw-ctt-btn,
a.style6:hover .sw-click-to-tweet i.sw-twitter {
	text-decoration: none;
	color: #2A2D34;
}
