/*********************************************************

	A Responsive Grid System

*********************************************************/

.sw-grid {
	float: left;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.sw-grid-right {
	float: right;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.sw-col-60,
.sw-col-140,
.sw-col-220,
.sw-col-300,
.sw-col-380,
.sw-col-460,
.sw-col-540,
.sw-col-620,
.sw-col-700,
.sw-col-780,
.sw-col-860 {
	margin-right: 2.127659574468%;
}

.sw-col-60 {
	width: 6.382978723404%;
}

.sw-col-140 {
	width: 14.893617021277%;
}

.sw-col-220 {
	width: 23.404255319149%;
}

.sw-col-300 {
	width: 31.914893617021%;
}

.sw-col-380 {
	width: 40.425531914894%;
}

.sw-col-460 {
	width: 48.936170212766%;
}

.sw-col-540 {
	width: 57.446808510638%;
}

.sw-col-620 {
	width: 65.957446808511%;
}

.sw-col-700 {
	width: 74.468085106383%;
}

.sw-col-780 {
	width: 82.978723404255%;
}

.sw-col-860 {
	width: 91.489361702128%;
}

.sw-col-940 {
	width: 100%;
}

.sw-fit {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.sw-clearfix:after,
.sw-clearfix:before 
{
	content: ' ';
	display: table;
}

.sw-clearfix:after {
	clear: both;
}
.sw-clearfix {clear:both;width:100%;}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.sw-admin-divider {
	width:100%;
	height:1px;
	border-bottom:1px solid #CED3DC;	
	margin:20px 0 40px 0;
}
.sw-hidden {display:none!important;}
/*********************************************************

	The Header Menu

*********************************************************/

#wpwrap, #wpcontent {background:#fff;padding-left:0;}
.sw-top-menu {border-bottom: 1px solid #CCC;float:none;background:#fff;z-index:99999;margin:0;}
.sw-header-logo {height:75px;float:left;}
.sw-header-menu {height:75px;margin:0;}
.sw-header-menu li {
    float: left;
    margin: 0 15px;
    font-size: 16px;
	display:table;
	height:75px;
}
.sw-header-menu li:focus, .sw-header-menu li a:focus {outline:none;box-shadow:none;}
.sw-header-menu li span {padding:0 5px 5px 5px;}
.sw-header-menu li.sw-active-tab span, .sw-header-menu li:hover span {
	border-bottom:4px solid #30394f;
}
.sw-header-menu li a {
	color: #30394f;
	text-decoration:none;	
	display:table-cell;
	vertical-align:middle;
}
.sw-top-menu .sw-grid {
	margin-bottom:0;	
}
/*********************************************************

	The Header Menu

*********************************************************/
.sw-admin-wrapper, .sw-header-wrapper {
	clear: both;
	margin: 20px auto 20px auto;
	padding: 0 40px 20px 40px;
	position: relative;	
}
.sw-header-wrapper {margin:0;}
.sw-tabs-container .sw-admin-tab {display:none;}
.sw-tabs-container .sw-admin-tab:nth-child(1) {display:block;}
.sw-admin-tab h2 {
font-size: 26px;
line-height: 1.2;
margin: 0;
}
.sw-admin-tab h2.sw-h-label {
	line-height:56px;	
}
p.sw-subtitle {
font-size: 16px;
line-height: 1.2;
margin: 10px 0 30px 0;
}
p.sw-checkbox-label, p.sw-input-label, p.sw-select-label, p.sw-authenticate-label {
font-size: 16px;
font-weight: bold;
padding-left:10%;
}
p.sw-short {
	margin:1em 0 0 0;	
}
p.sw-subtext-label {
    margin-top: -10px;
}
.sw-admin-sidebar img {
    margin: 5px 0 10px 0;
}
/*********************************************************

	Checkboxes

*********************************************************/
.sw-checkbox-toggle {
	width:104px;
	height:46px;
	background-image:url('images/on-off-toggle.jpg');	
	float:right;
	margin:5px 0;
	cursor:pointer;
}
.sw-checkbox-toggle[status="on"] {background-position:0% 0%;}
.sw-checkbox-toggle[status="off"] {background-position:100% 0%;}
input.sw-admin-input {
	padding: 15px;
	border: 1px solid #ced3cd;
	border-radius: 2px;
	float: right;
	box-shadow: none;
	margin:2px 0 1px 0;
	width:100%;
}
.sw-grid select {
	width: 100%;
	box-shadow: none;
	border: 1px solid #ced3cd;
	height: 51px;
	padding: 15px;
	margin: 2px 1px 3px 0;
}
a.button.sw-navy-button,a.button.sw-blue-button {
	padding: 15px 30px;
	height: auto;
	line-height: 1;
	border-radius: 2px;
	box-shadow: none;
	float: right;
	margin: 15px 0;
}
a.button.sw-navy-button {
	background: #30394f;
	color: #fff;
	border-color: #2a2d34;
}
a.button.sw-navy-button:hover, a.button.sw-blue-button:hover {
	background: #2a2d34;
	border-color: #2a2d34;
	color: #fff;
}
a.button.sw-blue-button {
	background: #6bcce9;
	border-color: #6bcce9;
	color: #fff;
}
.sw-admin-tab a.button {
		margin:5px 0 15px 0;
}
.sw-red-notice,
.sw-green-notice {
	color: #fff;
	padding: 15px 30px;
	border-radius: 2px;
	margin:15px 0;
}

.sw-red-notice, .sw-loading-message { background: #ee464f }
.sw-green-notice, .sw-loading-complete { background: #71C069 }

.sw-red-notice:before, .sw-loading-message:before,
.sw-green-notice:before, .sw-loading-complete:before {
   font-family: 'Dashicons';
   font-size: 26px;
   margin: 0 15px 0 0;
   vertical-align: middle;
}

.sw-red-notice:before, .sw-loading-message:before { content: "\f158" }
.sw-green-notice:before, .sw-loading-complete:before { content: "\f147" }
.sw-admin-tab .two-thirds-advanced h2.sw-h-label {
line-height: 1.2;
margin-bottom: 15px;
}
.sw-italic {
	font-style:italic;	
}
p.sw-subtitle.sw-registration-text {
    padding: 20px 0 0 0;
    font-size: 120%;
    line-height: 175%;
}
.registration-wrapper[registration="1"] .sw_is_not_registered {display:none;}
.registration-wrapper[registration="0"] .sw_is_registered {display:none;}
.tweet-count-wrapper[registration="true"] .sw_tweets_not_activated {display:none;}
.sw-tweet-count-demo {margin:20px 0;}
.sw-loading-message, .sw-loading-complete {
	position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    color: white;
	width:240px;
    margin-top: -46px;
    margin-left: -40px;
}
