/*********************************************************

	A Responsive Grid System

*********************************************************/

.sw-grid {
	float: left;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.sw-grid-right {
	float: right;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}

.sw-col-60,
.sw-col-140,
.sw-col-220,
.sw-col-300,
.sw-col-380,
.sw-col-460,
.sw-col-540,
.sw-col-620,
.sw-col-700,
.sw-col-780,
.sw-col-860 {
	margin-right: 2.127659574468%;
}

.sw-col-60 {
	width: 6.382978723404%;
}

.sw-col-140 {
	width: 14.893617021277%;
}

.sw-col-220 {
	width: 23.404255319149%;
}

.sw-col-300 {
	width: 31.914893617021%;
}

.sw-col-380 {
	width: 40.425531914894%;
}

.sw-col-460 {
	width: 48.936170212766%;
}

.sw-col-540 {
	width: 57.446808510638%;
}

.sw-col-620 {
	width: 65.957446808511%;
}

.sw-col-700 {
	width: 74.468085106383%;
}

.sw-col-780 {
	width: 82.978723404255%;
}

.sw-col-860 {
	width: 91.489361702128%;
}

.sw-col-940 {
	width: 100%;
}

.sw-fit {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.sw-clearfix:after,
.sw-clearfix:before 
{
	content: ' ';
	display: table;
}

.sw-clearfix:after {
	clear: both;
}
.sw-clearfix {clear:both;width:100%;}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.sw-admin-divider {
	width:100%;
	height:1px;
	border-bottom:1px solid #CED3DC;	
	margin-bottom:40px;
}
/*********************************************************

	The Header Menu

*********************************************************/

#wpwrap, #wpcontent {background:#fff;padding-left:0;}
.sw-top-menu {border-bottom: 1px solid #CCC;float:none;}
.sw-header-logo {height:75px;float:left;}
.sw-header-menu {height:75px;}
.sw-header-menu li {
    float: left;
    margin: 0 15px;
    font-size: 16px;
	display:table;
	height:75px;
}
.sw-header-menu li:focus, .sw-header-menu li a:focus {outline:none;}
.sw-header-menu li span {padding:0 5px 5px 5px;}
.sw-header-menu li.sw-active-tab span, .sw-header-menu li:hover span {
	border-bottom:4px solid black;
}
.sw-header-menu li a {
	color:black;
	text-decoration:none;	
	display:table-cell;
	vertical-align:middle;
}
/*********************************************************

	The Header Menu

*********************************************************/
.sw-admin-wrapper {
	clear: both;
	margin: 20px auto 20px auto;
	padding: 0 40px 20px 40px;
	position: relative;	
}
.sw-tabs-container .sw-admin-tab {display:none;}
.sw-tabs-container .sw-admin-tab:nth-child(1) {display:block;}
.sw-admin-tab h2 {
font-size: 26px;
line-height: 1.2;
margin: 0;
}
p.sw-subtitle {
font-size: 14px;
line-height: 1.2;
margin: 10px 0;
}
p.sw-checkbox-label {
font-size: 16px;
font-weight: bold;
}
/*********************************************************

	Checkboxes

*********************************************************/
.sw-checkbox-toggle {
	width:104px;
	height:46px;
	background-image:url('images/on-off-toggle.jpg');	
	float:right;
	margin-top:5px 0;
}
input.sw-admin-input {
padding: 15px;
border: 1px solid #ced3cd;
border-radius: 4px;
float: right;
box-shadow: none;
margin:2px 0 1px 0;
}