// main:../style.scss


.scale-70 {
	-ms-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
}

.swp_social_panel:not(.nc_floater).scale-70.scale-full_width {
	width: 142.8571428571429%!important;
}

.scale-80 {
	-ms-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.swp_social_panel:not(.nc_floater).scale-80.scale-full_width {
	width: 125%!important;
}

.scale-90 {
	-ms-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.swp_social_panel:not(.nc_floater).scale-90.scale-full_width {
	width: 111.111111111111%!important;
}

.scale-110 {
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.swp_social_panel:not(.nc_floater).scale-110.scale-full_width {
	width: 90.90909090909091%!important;
}

.scale-120 {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.swp_social_panel:not(.nc_floater).scale-120.scale-full_width {
	width: 83.33333333333333%!important;
}

.scale-130 {
	-ms-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.swp_social_panel:not(.nc_floater).scale-130.scale-full_width {
	width: 76.92307692307692%!important;
}

.scale-140 {
	-ms-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

.swp_social_panel:not(.nc_floater).scale-140.scale-full_width {
	width: 71.42857142857143%!important;
}

.scale-full_width,
.scale-left,
.nc_floater.scale-center,
.nc_floater.scale-right {
	-ms-transform-origin: left;
	-webkit-transform-origin: left;
	transform-origin: left;
}

.scale-right {
	-ms-transform-origin: right;
	-webkit-transform-origin: right;
	transform-origin: right;
}

.scale-center {
	-ms-transform-origin: center;
	-webkit-transform-origin: center;
	transform-origin: center;
}

div.swp_social_panel .nc_tweetContainer.swp_emphasize {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}
