// main:../style.scss

.swp_CTT {
	text-decoration: none!important;
}

.sw-tweet-clear {
	zoom: 1;
}

.sw-tweet-clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.sw-click-to-tweet {
	display: block;
	margin: 15px 0;
	padding: 15px 30px;
	position: relative;
}

.sw-click-to-tweet:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.sw-click-to-tweet .sw-ctt-text {
	margin: 0 0 10px;
	padding: 0;
	position: relative;
	word-wrap: break-word;
}

a .sw-click-to-tweet .sw-ctt-text {
	display: block;
	font-size: 24px;
	font-weight: 500;
	line-height: 140%;
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	text-transform: none;
}

.sw-click-to-tweet .sw-ctt-btn {
	display: block;
	float: right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 100%;
	margin: 10px 0 0;
	padding: 3px 5px 3px 3px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

.sw-click-to-tweet i.swp_twitter_icon {
	float: right;
	font-size: 21px;
	margin-left: 15px !important;
	margin-top: 2px;
	text-transform: none;
}

a.swp_CTT.style1 .sw-click-to-tweet {
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

a.swp_CTT.style2 .sw-click-to-tweet {
	background-color: #fff;
	border: 4px double #ddd;
	-webkit-border-radius: 0;
	border-radius: 0;
}

a.style2 .sw-click-to-tweet .sw-ctt-text {
	color: #666;
	font-style: italic;
	text-decoration: none;
}

a.swp_CTT.style3:hover .sw-click-to-tweet {
	border-left: 10px solid #3c87b2;
	padding-right: 20px;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a.swp_CTT.style3 .sw-click-to-tweet {
	background-color: #429cd6;
	border: none;
	border-left: 10px solid #429cd6;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding-right: 20px;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a.style3 .sw-click-to-tweet .sw-ctt-text {
	color: #fff;
	font-style: italic;
	text-decoration: none;
}

a.swp_CTT.style4:hover .sw-click-to-tweet {
	border-left: 10px solid #3c87b2;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a.swp_CTT.style4 .sw-click-to-tweet {
	background-color: #333;
	border-left: 10px solid #c33;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a.swp_CTT.style5:hover .sw-click-to-tweet {
	background-color: #d34250;
	border-left: 10px solid #30394f;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a.swp_CTT.style5 .sw-click-to-tweet {
	background-color: #30394f;
	border-left: 10px solid #d34250;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a.swp_CTT.style6:hover .sw-click-to-tweet {
	background-color: #ced3dc;
	border-left: 10px solid #d34250;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a.swp_CTT.style6 .sw-click-to-tweet {
	background-color: #eee;
	border-left: 10px solid #d34250;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a.style6 .sw-click-to-tweet i.swp_twitter {
	color: #30394f;
}


a.style1 .sw-click-to-tweet .sw-ctt-text,
a.style1 .sw-click-to-tweet .sw-ctt-btn {
	color: #999;
	text-decoration: none;
}

a.style1:hover .sw-click-to-tweet .sw-ctt-text,
a.style1:hover .sw-click-to-tweet .sw-ctt-btn,
a.style2:hover .sw-click-to-tweet .sw-ctt-text,
a.style2 .sw-click-to-tweet .sw-ctt-btn,
a.style2:hover .sw-click-to-tweet .sw-ctt-btn {
	color: #666;
	text-decoration: none;
}

a.style3:hover .sw-click-to-tweet .sw-ctt-text,
a.style3 .sw-click-to-tweet .sw-ctt-btn,
a.style3:hover .sw-click-to-tweet .sw-ctt-btn,
a.style3 .sw-click-to-tweet i.swp_twitter,
a.style4 .sw-click-to-tweet .sw-ctt-text,
a.style4:hover .sw-click-to-tweet .sw-ctt-text,
a.style4 .sw-click-to-tweet .sw-ctt-btn,
a.style4:hover .sw-click-to-tweet .sw-ctt-btn,
a.style5 .sw-click-to-tweet .sw-ctt-text,
a.style5:hover .sw-click-to-tweet .sw-ctt-text,
a.style5 .sw-click-to-tweet .sw-ctt-btn,
a.style5:hover .sw-click-to-tweet .sw-ctt-btn {
	color: #fff;
	text-decoration: none;
}

a.style4 .sw-click-to-tweet i.swp_twitter,
a.style5 .sw-click-to-tweet i.swp_twitter {
	color: #fff;
}

a.style6 .sw-click-to-tweet .sw-ctt-text,
a.style6 .sw-click-to-tweet .sw-ctt-btn {
	color: #30394f;
	text-decoration: none;
}

a.style6:hover .sw-click-to-tweet .sw-ctt-text,
a.style6:hover .sw-click-to-tweet .sw-ctt-btn,
a.style6:hover .sw-click-to-tweet i.swp_twitter {
	color: #2a2d34;
	text-decoration: none;
}
