// main:../style.scss

.parent { color: red; }
.parent .child { color: green; }
.parent .child .grand { color: blue; }

.parent {
	color:red;

	.child {
		color:green;

		.grand {
			color:blue;
		}
	}
}

/**
 * The Frontend Button Container
 *
 * These styles are common to all button containers, regardless of shape or
 * style. These are the styles specific to the frontend display of the widget.
 *
 */
.swfw-follow-container {
	display: flex;
	position: relative;

	.swfw-container-message {
		font-weight: bold;
	}

	&.swfw_square_container {
		flex-flow: row wrap;
	}

	&.swfw_buttons_container {
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: space-between;
	}

	&.swfw_block_container {
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	a {
		text-decoration: none!important;
		margin:5px 0;
	}

	.swfw-follow-button {
		align-items: center;
		border-radius: 8px;
		display: flex;
		color: white;
		font-family: "Helvetica", sans-serif;
		font-size: initial;
		justify-content: space-between;
		line-height: 1;
		margin: 0;
		padding: 20px;
		width: 100%;

		a {
			@include transition();
			background: #fff;
			border-radius: 4px;

			:hover {
				color: white;
			}
		}

		.swfw-network-icon i {
			width: 32px;
			height: 32px;
			border-radius: 100px;
			font-size: 30px;
			line-height: 36px;
			text-decoration: none !important;
		}

		&.swfw_shift_button, &.swfw_square_button, &.swfw_buttons_button, &.swfw_block_button, &.swfw_pill_button {
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-around;
			cursor: initial;
			position: relative;

			> * {
			  width: -moz-min-content;
			  width: -webkit-min-content;
			  width: min-content;
			}

			.swfw-network-icon {
				margin-left: 10px;
	  			flex: 1;
			}

			.swfw-text {
				flex: 2;

				.swfw-count {
					width: -moz-max-content;
					width: -webkit-max-content;
					width: max-content;
					font-size: 15px;
				}
			}

			.swfw-cta-button {
				flex: 1;
				font-size: 12px;
				line-height: 24px;
				left: calc(10px + 60px);
				color: white;
				text-align: center;

				a {
					padding: none;

					div {
					  padding: 10px 30px;
					  background: white;
					  border-radius: 2px;
					}
				}

				&:hover div {
					background: rgba(33, 33, 33, 0.3);
				}
			}

			.swfw-cta {
				border-radius: 3px;
			}

			.swfw-cta-button {
				font-size: 24px;
				padding: 5px;
				line-height: 24px;
				border-radius: 4px;
				text-align: center;
				right: 0;

				a {
					text-decoration: none !important;

					div {
						font-size: 14px;
						min-width: 100px;
						border-radius: 3px;
						background: white;
						padding: 5px;

						&:hover {
							transition: all 300ms;
							background: rgba(30, 30, 30, 0.3);
							cursor: pointer;
							color: white;
						}

					}
				}
			}
		}
	}

	/**
	 * Square Buttons
	 *
	 */
	&.swfw_square_container {

		.swfw_square_button {
			width: 60px;
			height: 60px;
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			text-align: center;
			margin: 5px;
			padding: 0;
			justify-content: center;
			border-radius: 4px;

			.swfw-network-icon {
				margin-top: -12px;
			}

			.swfw-text {
				width: 100%;
			}

			.swfw-cta, .swfw-count {
				display: block;
				width: 100%;
				position: absolute;
			}

			.swfw-count {
				opacity: 1;
				transition: opacity 120ms 0;
				font-size: 12px;

				// If there are no follow counts to display, just show the CTA.
				&[count="false"] {
					opacity:0;
					~.swfw-cta {
						opacity:1;
					}
				}
			}

			.swfw-cta {
				opacity: 0;
				transition: opacity 120ms 0;
				font-size: 12px;
			}

			&:hover {
				.swfw-count {
					opacity: 0;
					transition: opacity 120ms 120ms;
				}

				.swfw-cta {
					opacity: 1;
					transition: opacity 120ms 120ms;
				}
			}


		}

	}

	/**
	 * The "Buttons" Shaped Buttons
	 *
	 */
	&.swfw_buttons_container {
		.swfw_buttons_button {
			display: flex;
			flex-flow: row nowrap;
			width: -moz-max-content;
			width: -webkit-max-content;
			width: max-content;
			margin: 0px;
			border-radius: 4px;
			padding: 15px;
			color: white;
			width:100%;
			cursor:pointer;

			.swfw-network-icon {
				padding: 0;
				font-size: 32px;
			}

			.swfw-text {
				width: -webkit-max-content;
				width: -moz-max-content;
				width: max-content;
				margin: 0 10px;
				transition: margin 300ms;
				display: flex;
				justify-content: center;
				line-height: 32px;
				color: white;

				.swfw-cta, .swfw-count {
					display: inline;
					position: relative;
					transition: all 300ms;
				}

				.swfw-cta {
					width: 0;
					overflow-x: hidden;
					position: absolute;
					color: transparent;
					margin-right: 0;
					font-weight: normal;
				}

				&:hover .swfw-cta {
					color: white;
				}
			}

			&:hover .swfw-text {
			  width: -moz-max-content;
			  width: -webkit-max-content;
			  width: max-content;
			}
			&:hover .swfw-text .swfw-cta {
			  width: -moz-min-content;
			  width: -webkit-min-content;
			  width: min-content;
			  overflow-x: visible;
			  position: relative;
			  margin-right: 10px;
			  color: white;
			}
		}

	}

	// Snapchat is too light on the background so dark text is needed.
	.swp-snapchat {
		a, .swfw-text, .swfw-cta, i {
			color:#000000!important;
		}
	}

}

/**
 * The Backend Widget Container
 *
 * These styles are common to the widget fields in the backend of the WordPress
 * editor under Appearance -> Widgets.
 *
 */
.swfw-follow-field {
	.swfw-follow-field-icon {
	  color: black;
	  width: 40px;
	  font-size: 30px;
	  line-height: 45px;
	  font-weight: bold;
	  transition: all 300ms;
	  border-radius: 3px;
	  height: 40px;
	  text-align: center;
	  padding: 2px;
	}

	&.swfw-active {
		.swp-snapchat {
			color: #000000;
		}
	}
}





/**
 * Block Buttons
 *
 */
/**
/// Mixins used by block variations.
**/


/**
 * Leaf style
 */
.swfw-follow-button.swfw_leaf_button, .swfw_leaf_button.swfw_square_button, .swfw_leaf_button.swfw_buttons_button, .swfw_leaf_button.swfw_block_button {
  border-top-left-radius: 21px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 21px;
}
.swfw-follow-button.swfw_leaf_button .swfw-network-icon, .swfw_leaf_button.swfw_square_button .swfw-network-icon, .swfw_leaf_button.swfw_buttons_button .swfw-network-icon, .swfw_leaf_button.swfw_block_button .swfw-network-icon {
  margin-left: 10px;
}

/**
 * Pill style
 */
.swfw-follow-button.swfw_pill_button, .swfw_pill_button.swfw_square_button, .swfw_pill_button.swfw_buttons_button, .swfw_pill_button.swfw_block_button {
  border-radius: 50px;
  padding: 10px;
}
.swfw-follow-button.swfw_pill_button .swfw-network-icon, .swfw_pill_button.swfw_square_button .swfw-network-icon, .swfw_pill_button.swfw_buttons_button .swfw-network-icon, .swfw_pill_button.swfw_block_button .swfw-network-icon {
  margin-left: 10px;
}
.swfw-follow-button.swfw_pill_button .swfw-cta-button a, .swfw_pill_button.swfw_square_button .swfw-cta-button a, .swfw_pill_button.swfw_buttons_button .swfw-cta-button a, .swfw_pill_button.swfw_block_button .swfw-cta-button a {
  border-radius: 50px;
}
.swfw-follow-button.swfw_pill_button .swfw-cta-button a div, .swfw_pill_button.swfw_square_button .swfw-cta-button a div, .swfw_pill_button.swfw_buttons_button .swfw-cta-button a div, .swfw_pill_button.swfw_block_button .swfw-cta-button a div {
  border-radius: 50px;
}

/**
 * Shift style
 */
.swfw-follow-button.swfw_shift_button, .swfw_shift_button.swfw_square_button, .swfw_shift_button.swfw_buttons_button, .swfw_shift_button.swfw_block_button {
  transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
}
.swfw-follow-button.swfw_shift_button div, .swfw_shift_button.swfw_square_button div, .swfw_shift_button.swfw_buttons_button div, .swfw_shift_button.swfw_block_button div {
  transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  -webkit-transform: skew(20deg);
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.swfw-follow-button.swfw_shift_button .swfw-cta-button, .swfw_shift_button.swfw_square_button .swfw-cta-button, .swfw_shift_button.swfw_buttons_button .swfw-cta-button, .swfw_shift_button.swfw_block_button .swfw-cta-button {
  transform: skew(0deg);
}
.swfw-follow-button.swfw_shift_button .swfw-cta-button a, .swfw_shift_button.swfw_square_button .swfw-cta-button a, .swfw_shift_button.swfw_buttons_button .swfw-cta-button a, .swfw_shift_button.swfw_block_button .swfw-cta-button a {
  padding: none;
}
.swfw-follow-button.swfw_shift_button .swfw-cta-button a:hover, .swfw_shift_button.swfw_square_button .swfw-cta-button a:hover, .swfw_shift_button.swfw_buttons_button .swfw-cta-button a:hover, .swfw_shift_button.swfw_block_button .swfw-cta-button a:hover {
  background: rgba(33, 33, 33, 0.3);
}
.swfw-follow-button.swfw_shift_button .swfw-cta-button a div, .swfw_shift_button.swfw_square_button .swfw-cta-button a div, .swfw_shift_button.swfw_buttons_button .swfw-cta-button a div, .swfw_shift_button.swfw_block_button .swfw-cta-button a div {
  background: none;
  transform: skew(20deg);
  padding: 10px 30px;
}
.swfw-follow-button.swfw_shift_button .swfw-cta-button a div:hover, .swfw_shift_button.swfw_square_button .swfw-cta-button a div:hover, .swfw_shift_button.swfw_buttons_button .swfw-cta-button a div:hover, .swfw_shift_button.swfw_block_button .swfw-cta-button a div:hover {
  background: none;
}

/**
/// Backend Style
**/
.swfw-revoke-button,
.swfw-authorization-button {
  width: 70%;
  text-align: center;
  max-width: 200px;
}

.swfw-input-field,
.swfw-follow-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 15px auto;
}

.swfw-follow-field.swfw-inactive a {
  cursor: initial;
}
.swfw-follow-field.swfw-active a {
  cursor: pointer;
}



.swfw-widget label {
  font-size: 14px;
  width: 100px;
}

.swfw-follow-field label {
  text-align: right;
}

.swfw-input-field input,
.swfw-input-field select,
.swfw-follow-field input {
  padding: 0 15px;
  width: 50%;
  height: 100%;
  border-radius: 4px;
}

.swfw-follow-field.swfw-inactive div {
  background: white;
}

.swfw-follow-field.swfw-active div {
  color: white;
}
