// main:../style.scss

.swp_pop_thumb {
	border-radius: 3px;
	float: left;
	height: 100px;
	margin: 5px 25px 5px 0;
	width: 100px;
}

.swp_popular_post {
	clear: both;

	a.swp_popularity {
		border: none;
		display: block;
		line-height: 1.5;
		margin: 20px 0;
	}
}

.swp_clearfix:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

span.swp_pop_count {
	display: block;
	font-size: 70%;
}

.swp_widget_box {
	border-radius: 3px;
}
