// main:../style.scss

// Colors for each social network.
$network_colors: (
	"twitter": #429cd6,
	"facebook": #4267B2,
	"pinterest": #cd2029,
	"linkedin": #0d77b7,
	"tumblr": #39475d,
	"mix": #f4812c,
	"yummly": #e26426,
	"reddit": #f04b23,
	"email": #6bcce9,
	"whatsapp": #71c169,
	"pocket": #ef4056,
	"buffer": #323b43,
	"hacker_news": #d85623,
	"flipboard": #bf2626,
	"vk": #4a76a8,
);

// Colors for each of the grayscale themes.
$gray_colors: (
	"light_gray": #cccccc,
	"medium_gray": #999999,
	"dark_gray": #444444,
);

$accent_variance: 10%;
