/* Image */
.swpmb-image-item {
	position: relative;
	float: left;
	padding: 0;
	margin: 0 5px 5px 0;
	box-sizing: border-box;
	width: 150px;
}
.swpmb-image-item .swpmb-media-preview {
	width: 150px;
}
.swpmb-image-item .dashicons {
	font-size: 20px;
	width: 20px;
	height: 20px;
}
.swpmb-media-bar {
	position: absolute;
	z-index: 10;
	display: none;
	right: 5px;
	top: 5px;
	color: #fff;
}
.swpmb-media-bar a {
	text-decoration: none;
	color: inherit;
}
.swpmb-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .6);
	display: none;
}
.swpmb-image-item:hover .swpmb-media-bar,
.swpmb-image-item:hover .swpmb-overlay {
	display: block;
	cursor: move;
}
