.swpmb-input-list li{
	line-height: 22px;
}

.swpmb-input-list.inline li{
	display:inline-block;
	margin-right: 0;
  line-height:1;
}
.swpmb-input-list.inline li label {
	margin-right: 10px;
}

.swpmb-input-list.inline {
    margin:0;
}

li .swpmb-input-list {
	margin-left: 15px;
}
