.swpmb-media-list {
	margin: 0 0 5px;
	overflow: hidden;
}
.swpmb-media-item {
	overflow: hidden;
	margin-bottom: 10px;
}
.swpmb-media-preview {
	width: 60px;
	float: left;
	position: relative;
}
.swpmb-media-preview:before {
	content: '';
	display: block;
	padding-top: 100%;
}
.swpmb-media-content {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.swpmb-media-content .centered {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}
.swpmb-media-content img {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-height: 100%;
	max-width: 100%;
	border-radius: 3px;
}
.swpmb-media-info {
	margin-left: 65px;
}
.swpmb-media-info a {
	text-decoration: none;
}
.swpmb-media-info p,
.swpmb-media-info h4 {
	margin: 0 0 2px;
}
.swpmb-edit-media,
.swpmb-remove-media {
	font-size: 11px;
	color: inherit;
}
.swpmb-edit-media .dashicons,
.swpmb-remove-media .dashicons {
	font-size: 12px;
	width: 12px;
	height: 12px;
	vertical-align: middle;
}

/* Add more button */
.swpmb-media-view .swpmb-add-media {
	padding-left: 5px;
	margin-right: 5px;
}

/* Status */
.swpmb-media-status {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
}
